@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Shazia Idress for CI/CD Rules...</h1>
    <p>Learn about <a href="https://account-app-2.azurewebsites.net/account">Its a Link to my Azure Web-app</a>.</p>
    <p>If my SQL Azure Db is Up this Link will work</p>
    <p>Why its showing commit as a Different user???</p>
</div>
